body {
    background-color: #212121;
    color : white;
    font-family :'Courier New', Courier, monospace;
}
nav{
    display : flex;
    padding-left: 20px;
    font-family: initial;
}
nav a{
    float: left;
    color: white;
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    padding: 10px;
}
nav a:hover{
    background: white;
    color: #212121;
}
.container{
    justify-items: center;
}
.keyDetails{
    margin-top: 25vh;
}
table th,td,table{
    border: 1px solid white;
    text-align: center;
}
table th,td{
    padding: 5px;
}